header {
  background-color: #EB7BD6;
  padding: 10px 0 10px 40px;
  margin: 0 0 0 160px;
  border-bottom: solid 5px #99D5C9;
}

  header li {
    list-style-type: none;
    display: inline;
    color: #E6CFF2;
    padding-right: 20px;
  }

  header a {
    color: #E6CFF2;
    display: inline;

  }

  header h1 {
    color: #4A2545;
    font-size: 64px;
    font-family: "Century Gothic", Helvetica, sans-serif;
    margin: 10px 0;
  }

  header ul {
    padding-inline-start: 0px;
    margin-inline-start: 0;
    display: flex;
    margin: 10px 0;
  }

  /* this whole section needs to be looked an rewritten, why is the list of links not going inline???? */
body {
  margin: 0;
  font-family: Helvetica;
  background-color: #C189DF;
}

main {
  margin: 0 0 0 170px;
  padding: 20px 50px 0 40px;
  text-align: justify;
}

  main a {
  color: #99D5C9;
  }


  .sidebar {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4A2545;
    overflow-x: hidden;
    padding-top: 40px;
    border-right: solid 5px #99D5C9;
    }

    .sidebar li {
      color: #99D5C9;
      list-style-type: none;
      margin: 0 10px;
      padding: 5px 0;
      overflow-wrap: break-word;

    }

    .sidebar ul {
      margin: 20px 10%;
      padding: 10px 0;
      background-color: #A01887;
      border: solid 3px #C189DF;
      border-radius: 10%;

    }

    .sidebar img {
      margin: 0 10%;
      border-radius: 50%;
      border: solid 3px #C189DF;
    }
    .sidebar a {
      color: #99D5C9;
    }

img {
  max-width: 75%
}

  .screenshot {
    width: 75%;
  }

h2 {
  font-family: "Century Gothic", Helvetica, sans-serif;
  color: #335C56;
  font-size: 36px;
  margin: 10px 0;
}

h3 {
  font-family: "Century Gothic", Helvetica, sans-serif;
  font-size: 24px;
  color: #A01887;
  margin: 10px 0;
}

h4 {
  font-family: "Century Gothic", Helvetica, sans-serif;
  font-size: 20px;
}
h5 {
  font-family: "Century Gothic", Helvetica, sans-serif;
  font-style: italic;
  font-size: 16px;
}

.coffee img {
  float: right;
  margin: 0 0 10px 15px;
  width: 300px;
}
